.documents {
  text-align: right;
}
.documents .action_btns {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 65% auto;
  grid-gap: 15px;
  margin: 20px;
  margin-top: 40px;
}
.documents .btn {
  color: #C5C5C5;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  display: block;
  margin: 0;
  height: 50px;
  line-height: 37.5px;
  text-decoration: none;
  outline: none;
  border: 4px solid #1c1c1c;
  border-radius: 15px;
  cursor: pointer;
  padding: 2px 6px;
  text-align: center;
}
.documents .btn:active {
  background-color: #1c1c1c;
}
.documents details.btn summary {
  text-align: center !important;
  text-indent: 0 !important;
}
.documents details.btn summary::-webkit-details-marker, .documents details.btn summary::marker {
  display: none;
  content: "";
}
.documents details.btn[open] {
  text-indent: 30px;
  height: auto;
  text-align: justify;
}

input[type=file] {
  display: none;
}
input[type=file]::selection + label {
  background-color: #f00;
}
input[type=file] + label {
  display: block;
  cursor: pointer;
}

.document {
  text-align: left;
  margin: 20px;
  border: 4px solid #1c1c1c;
  border-radius: 15px;
  overflow: hidden;
}
.document * {
  cursor: pointer;
}
.document label, .document input {
  display: block;
  height: 100%;
  width: 100%;
  padding: 16.6666666667px 30px;
  box-sizing: border-box;
  line-height: 25px;
  white-space: pre-wrap;
}
.document input[type=radio] {
  display: none;
}
.document input[type=radio]:checked + label {
  background-color: #1c1c1c;
}

.option_panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 130px;
  gap: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}
.option_panel__btn {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #616161;
  border: 3px solid #1c1c1c;
  border-radius: 7px;
  padding: 10px;
}

.select_students .container {
  box-sizing: border-box;
  border: 3px solid #1c1c1c;
  border-radius: 7px;
  padding: 10px 15px;
}
.select_students .ss_el {
  margin: 10px 0;
}
.select_students .student {
  padding: 0;
}
.select_students .student label {
  display: block;
  padding: 10px 15px;
}
.select_students .student input[type=checkbox].student_checkbox {
  display: none;
}
.select_students .student input[type=checkbox].student_checkbox:checked + label {
  background-color: #1c1c1c;
}

details.ss_el summary {
  display: grid;
  grid-template-columns: auto 40px;
}
details.ss_el summary label {
  display: block;
  height: 20px;
  width: 20px;
  border: 3px solid #1c1c1c;
  border-radius: 7px;
}
details.ss_el summary label input[type=checkbox].selector_checkbox {
  display: none;
}
details.ss_el summary label:has(input:checked) {
  background-color: #1c1c1c;
}

form.load_classroom {
  position: relative;
}
form.load_classroom .classroom_confirm {
  position: relative;
  overflow: hidden;
  background-color: #333333;
  text-align: left !important;
  overflow-x: scroll;
  white-space: nowrap;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  border-color: #1c1c1c;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
}
form.load_classroom .classroom_confirm::-webkit-scrollbar {
  overflow: hidden;
  height: 15px;
  border-radius: 5px;
}
form.load_classroom .classroom_confirm::-webkit-scrollbar-track {
  background-color: #3d3d3d;
  border-top-style: solid;
  border-top-color: #1c1c1c;
  border-top-width: 3px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
form.load_classroom .classroom_confirm::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 8px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 3px solid #1c1c1c;
}
form.load_classroom .classroom_confirm .cancel_student {
  text-align: center;
  font-weight: bold;
  width: 40px;
}
form.load_classroom .classroom_confirm .student_confirm {
  margin: 3px;
}
form.load_classroom input[type=submit] {
  margin-top: 20px;
  width: 100%;
  background-color: #333333;
}
form.load_classroom .classroom {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 100px;
}
form.load_classroom .classroom > input {
  background-color: #333333;
  width: 100%;
  box-sizing: border-box;
}

div.add-student {
  display: flex;
  position: fixed;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
}
div.add-student.hidden {
  display: none;
}
div.add-student .main-block {
  width: min-content;
}
div.add-student .main-block h4 {
  margin: 0 0 20px 0;
}
div.add-student .main-block input {
  width: 400px;
  box-sizing: border-box;
}
div.add-student .main-block .submit {
  margin-top: 20px;
}

/*# sourceMappingURL=doc_style.css.map */
