{% extends doc_base %}
{% block content %}
<div class="main-block documents">
    <form method="post" action="{{ url_for('select_students') }}">
        {% for document in get_documents() %}
            <div class="document container">
                <label>{{ document }}</label>
            </div>
        {% endfor %}
        <div class="action_btns" style="grid-template-columns: 100%">
            <label for="file" class="container btn">Добавить документ</label>
            <input type="file" id="file" accept=".docx">
            <details class="container btn">
                <summary>Инструкция</summary>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eum ex rem reprehenderit repudiandae saepe sunt. Magnam minus molestiae officia placeat quae quam quo ratione rem, sequi voluptates? At eaque eligendi eveniet id illum odit reprehenderit sint veniam. Excepturi fuga iste nisi odio perspiciatis quam veritatis voluptatum? Ad alias aspernatur culpa, dicta dolorem, dolores eius error eum excepturi fugiat impedit iure magni nam nisi non officiis, placeat quam quas qui quisquam quo rem rerum saepe similique soluta tempora velit? Enim nostrum, quaerat. Accusamus accusantium atque, commodi doloribus eligendi eveniet ex ipsa laborum nam quas ullam vero. Ab aliquam aspernatur autem culpa delectus dolorem ea esse, et explicabo, ipsum minima, nam non numquam odio officia perferendis quaerat quo reprehenderit rerum velit voluptate!</p>
            </details>
        </div>
    </form>
</div>
    <script src="{{ url_for('scripts', filename='load_file.js') }}"></script>
    <script src="{{ url_for('scripts', filename='edit_documents.js') }}"></script>
    <input type="hidden" value="{{ url_for('_edit_documents') }}" id="link">
    <script>
        let file_input = document.getElementById("file")
        file_input.addEventListener("change", load_file("{{ url_for('load_document') }}"))
    </script>
{% endblock %}