{% extends doc_base %}

{#{% set documents = [#}
{#    "Документ1",#}
{#    "Lorem ipsum dolor sit amet, "#}
{#    "consectetur adipisicing elit. "#}
{#    "Amet animi culpa iure maxime quam, "#}
{#    "quisquam ratione reprehenderit similique "#}
{#    "suscipit veniam.",#}
{#    "Документ3",#}
{#    "Документ4",#}
{#] %}#}

{% block content %}
<div class="main-block documents">
    <form method="post" action="{{ url_for('select_students') }}">
        {% for document in get_documents() %}
            <div class="document container">
                <input value="{{ document }}" id="{{ loop.index0 }}" type="radio" name="document">
                <label for="{{ loop.index0 }}">{{ document }}</label>
            </div>
        {% endfor %}
        <div class="action_btns">
            <a class="container btn" href="{{ url_for('edit_documents') }}">Добавить документ</a>
            <input class="container btn" type="submit" value="Далее">
        </div>
    </form>
</div>
<script>
    let first_doc = document.querySelector("input[name=document]");
    first_doc.checked = true;
</script>
{% endblock %}
