{% extends base %}
{% from "util.html" import icon, sidebar_elements %}
{% block content %}
<div class="actions main-block">
    {% for element, url, text in sidebar_elements %}
        <a href="{{ url }}">
            <div class="action container">
                <div class="action__icon">
                    {{ icon(element) }}
                </div>
                <div class="action__text">
                    {{ text }}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
