<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/code_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_panel/style.css') }}">
</head>
{% macro spliter() %}
    <span class="route_spliter">/</span>
{% endmacro %}
{% macro route_el(dir, url) %}
    <a class="route_element" href="{{ url_for("listdir", route=url) }}">
        {{ dir }}
    </a>
{% endmacro %}
<body>
    <figure class="listdir">
        <figcaption class="current_route">
            {{ route_el("root") }}
            {{ spliter() }}
            {% for dir in spl_route[1:-1] %}
                {{ route_el(dir, '/'.join(spl_route[:loop.index + 1])) }}
                {{ spliter() }}
            {% endfor %}
            {% if spl_route|length > 1 %}
                <a class="route_element">{{ spl_route[-1] }}</a>
            {% endif %}
        </figcaption>

        {% if not is_file() %}
            <ul class="list">
                {% for file in listdir %}
                    <li class={{ "file" if is_file(file) else "directory" }}>
                        <a href="{{ url_for('listdir', route=route + '/' + file) }}">
                            {{ file }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </figure>
    {% if file_text %}
        <div>
            <pre><code
                data-language="{{ file_format }}"
                contenteditable="true"
            >{{ file_text }}</code></pre>
        </div>
    {% endif %}
<script src="{{ url_for('static', filename='admin_panel/rainbow-custom.min.js') }}"></script>
</body>
</html>